@model Flowers.Web.Models.Flowers.FlowersDetailsViewModel

@section head {

	<link href="/static/_libs/fotorama-4.6.4/fotorama.css" rel="stylesheet" />
	<script src="/static/_libs/fotorama-4.6.4/fotorama.js"></script>

	<script src="/static/_libs/product.js"></script>
}

<div class="columns-container">
	<div id="columns" class="container">

		<div class="row">
			<div class="large-left col-sm-12">
				<div class="row">
					<div id="center_column" class="center_column col-xs-12 col-sm-12 accordionBox">

						<div itemscope="" itemtype="https://schema.org/Product">
							<meta itemprop="url" content="https://ld-prestashop.template-help.com/prestashop_58383/index.php?id_product=8&amp;controller=product&amp;productId_lang=1">
							<div class="primary_block row">

								<div class="pb-left-column col-sm-4 col-md-4 col-lg-4">

									<div class="fotorama" data-nav="thumbs">

										@foreach (var item in Model.ProductImages)
										{
											<a href="@item.Id">
												<img src="/@item.Url" alt="Flower @item.ProductId">
											</a>
										}

									</div>

								</div>

								<div class="pb-right-column col-sm-8 col-md-8 col-lg-8">
									<h1 itemprop="name">
										@Model.Product.Name
									</h1>

									<div class="box-info-product">
										<div class="content_prices clearfix">

											<div class="all-price-info">
												<p class="our_price_display" itemprop="offers" itemscope="" itemtype="https://schema.org/Offer">
													<span id="our_price_display" itemprop="price" content="16" class="new-price">
														@if (Model.Product.FlowerVariants.Any())
														{
															<text>
																@Model.Product.FlowerVariants.Min(t => t.Price).ToString("C")
																-
																@Model.Product.FlowerVariants.Max(t => t.Price).ToString("C")
															</text>		}
													</span>
												</p>
											</div>

											<div class="clear"></div>
										</div>

										<p>
											<ul>
												@foreach (var item in Model.Product.FlowerVariants)
												{
													<li>
														@item.Size см - @item.Price.ToString("C")
													</li>
												}
											</ul>
										</p>

										<p>
											@Model.Product.Description
										</p>

									</div>
								</div>

							</div>



							<section class="page-product-box blockproductscategory">
								<h3 class="productscategory_h3 page-product-heading">
									Другие товары
								</h3>
								<div id="productscategory_list" class="clearfix">
									<div class="bx-wrapper">
										<div class="bx-viewport">
											<ul class="product-list">

												@foreach (var item in Model.OtherProducts)
												{
													var link = $"/{item.Type.ToString().ToLower()}/{item.Id}";
													<li class="product-box item">
														<div class="product-container">
															<div class="product-image">
																<a href="@link"
																   class="lnk_img product-image"
																   title="@item.Name">

																	@{ Html.RenderPartial("_ProductImage", item); }

																</a>
															</div>
															<div class="product-info">
																<h5 itemprop="name" class="product-name">
																	<a href="@link"
																	   title="@item.Name">
																		@item.Name
																	</a>
																</h5>
																<p class="price_display">

																	<span class="price">
																		@item.Price.ToString("C")
																	</span>
																</p>
															</div>



														</div>

													</li>			}


											</ul>
										</div>
									</div>
								</div>
							</section>

						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>