@using System.Web.Mvc.Html
@using Flowers.Api.Config
@using Flowers.Products.Flowers
@using Flowers.Products.ProductType
@using Flowers.Web.Core
@using Flowers.Web.Models
@model Flowers.Web.Models.Flowers.FlowersIndexViewModel

    <div id="columns" class="container">
        <div class="row">
            <div class="large-left col-sm-12">
                <div class="row">
                    <div id="center_column" class="center_column col-xs-12 col-sm-9 accordionBox">
                        <h1 class="page-heading product-listing">
                            <span class="cat-name">
                                @ProductType.Flowers.ToFriendlyString()
                            </span>
                            <span id="items-counter" class="heading-counter">
                                <span>
                                    Всего @Model.Flowers.TotalCount
                                    @{
                                        var lastNumber = Model.Flowers.TotalCount % 10;

                                        if (lastNumber == 1)
                                        {
                                            <text>
                                                наименование
                                            </text>
                                        }
                                        else if (lastNumber > 1 && lastNumber < 5)
                                        {
                                            <text>
                                                наименования
                                            </text>
                                        }
                                        else if (lastNumber == 0 || lastNumber >= 5)
                                        {
                                            <text>
                                                наименований
                                            </text>
                                        }

                                    }
                                </span>
                            </span>

                        </h1>

                        <div id="product_list_container">
                            @*@{
                                    Html.RenderPartial("__ListFilter");
                                }*@

                            <div id="product_list_items_container">
                                @{ Html.RenderPartial("_List", Model.Flowers.Items); }
                            </div>

                        </div>

                        @if (Model.Flowers.TotalCount > Model.Flowers.Items.Length)
                        {
                            Html.RenderPartial("_Paging", new PagingModel
                            {
                                TotalCount = Model.Flowers.TotalCount,
                                ItemsCount = Model.Flowers.Items.Length,
                                Page = Model.Flowers.Page,
                                PageSize = Model.Flowers.PageSize
                            },
                            new ViewDataDictionary
                            {
                                { "BaseUrl", ProductType.Flowers.ToString().ToLower()}
                            });

                        }

                    </div>
                    <div id="left_column" class="column col-xs-12 col-sm-3">
                        <section id="layered_block_left" class="block">
                            <h4 class="title_block">
                                Каталог
                            </h4>
                            <div class="block_content">
                                <form action="#" id="layered_form">
                                    <div class="layered_filter">
                                        <ul id="ul_layered_manufacturer_0" class="col-lg-12 layered_filter_ul">
                                            <li class="nomargin hiddable col-lg-12">
                                                <a href="/flowers">
                                                    <b>
                                                        Цветы
                                                    </b>
                                                </a>
                                                <div id="flowers-filter">
                                                    <ul class="col-lg-12 layered_filter_ul">
                                                        
                                                        @{
                                                            foreach (var item in Enum.GetValues(typeof(FlowerType)).Cast<FlowerType>().Where(t=> t != FlowerType.Undefined))
                                                            {
                                                                <li class="nomargin hiddable col-lg-12">
                                                                    <input type="checkbox" class="checkbox" name="layered_quantity_@item" id="layered_quantity_@item"
                                                                           checked="@Model.Filter.Types.Contains(item)"
                                                                           value="@item">
                                                                    <label for="layered_quantity_0">
                                                                        <strong>
                                                                            @item.ToFriendlyString()
                                                                        </strong>
                                                                        @*<span>
                                                                                count
                                                                            </span>*@

                                                                    </label>
                                                                </li>
                                                            }
                                                        }
                                                        

                                                      
                                            @*<li class="nomargin hiddable col-lg-12">

                                                    <label for="layered_manufacturer_4">
                                                        <a href="/toys">
                                                            <strong>
                                                                Игрушки
                                                            </strong>
                                                        </a>
                                                    </label>
                                                </li>*@

                                        </ul>
                                    </div>

                                </form>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>


@section scripts{


    <script>
        window.__INITIAL_STATE__ = JSON.parse('@Html.Raw(HttpUtility.JavaScriptStringEncode(Newtonsoft.Json.JsonConvert.SerializeObject(Model, JsonConfiguration.SerializerSettings)))');
    </script>

    @if (Html.IsDebug())
    {
        <script src="/static/node_modules/systemjs/dist/system.src.js"></script>
        <script src="/static/app/public/systemjs.config.js"></script>
        <script>
            (function () {
                System.import('app/public/app')
                    .then(null, console.error.bind(console));
            }());

        </script>
    }
    else
    {
        <script src="/static/app/public/app.js"></script>
    }

}